<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/logo128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/logo96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/logo32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/logo16.png">
    <link rel="icon" type="image/ico" href="logo32.ico">

    <script type="application/javascript" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9476431452677803"
     crossorigin="anonymous">
    </script>

  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
